<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hi  User</title>
    <meta charset="UTF-8">
    
    
</head>
<body>

<h1>Hi User , Please proceed to Book Cab</h1>

<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <p>
        Name: <input type="text" th:field="*{name}">
    </p>
    <p>
        Area Code: <select id="Area Code" name="Area Code">
        <option value="011">011</option>
        <option value="022">022</option>
        <option value="033">033</option>
        <option value="044">044</option>
      </select>
    </p>
    <p>
        <input type="submit" value="Proceed"> <input type="reset" value="Reset">
      
    </p>
</form>

</body>
</html>
